<style>
  .table.table-borderless>thead>tr>th, .table.table-borderless>tbody>tr>th, .table.table-borderless>tfoot>tr>th, .table.table-borderless>thead>tr>td, .table.table-borderless>tbody>tr>td, .table.table-borderless>tfoot>tr>td {
    border: none;
  }
  .table-slim>thead>tr>th, .table-slim>tbody>tr>th, .table-slim>tfoot>tr>th, .table-slim>thead>tr>td, .table-slim>tbody>tr>td, .table-slim>tfoot>tr>td {
    padding: 0 3px;
    line-height: normal;
    vertical-align: middle;
  }
  .table.table-even-width tr td {
    width: 50%;
  }
  .price-sale {
    color: {{ settings.color_sale_bg }};
  }
</style>

{%- include 'current_variant' -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{%- unless image_size -%}
  {%- assign image_size = '263x' -%}
{%- endunless -%}
{%- unless gl_colum_width -%}
  {%- assign gl_colum_width = 'col-sm-4 col-md-3' -%}
{%- else -%}
  {%- assign gl_colum_width = gl_colum_width | remove: "col-xs-10 " -%}
{%- endunless -%}
{%- assign gl_colum_mobile = 'col-xs-10' -%}
{%- if settings.show_col_mobile -%}
  {%- assign gl_colum_mobile = 'col-xs-12' -%}
{%- endif -%}
{%- include 'check_label_gl' -%}
{%- include 'check_color' -%}
{%- unless collection -%}
  {%- assign collection = product.collections.last -%}
{%- endunless -%}
{%- if template contains 'collection' and current_tags.size > 0 and product.has_only_default_variant == false -%}
	{%- assign url_nt = current_variant.url -%}
{%- assign url_nt_bl = true -%}
{%- else -%}
{%- assign url_nt_bl = false -%}
	{%- assign url_nt = product.url -%}
{%- endif -%}
{%- if product.metafields.external and settings.catalog_mode == false -%}
	{%- assign check = product.metafields.external | first | last -%}
	{%- if check contains 'https:' or check  contains 'http:' -%}{%- assign check_external = true -%}{%-else-%}{%- assign check_external = false -%}{%-endif-%}
{%-endif-%}
{%- if product.metafields.subscriptions.subscription_id -%}
  {% assign has_subscription = true %}
  {% assign subscriptions = product.metafields.subscriptions %}
{%- endif -%}
<div class="product-grid-item product basel-hover-quick {{gl_colum_mobile}} {{ gl_colum_width }} purchasable{%- if sold_out %} outofstock{%- endif %}">
	<div class="product-element-top">
		{%- include 'product_element_image' -%}
		<div class="basel-buttons">
			{%- if settings.use_wishlist and pages['wishlist'].empty? != true -%} 
        {%- include 'gl-wishlist-product' -%}
      {%- endif -%}
			<div class="clear"></div>
			{%- if settings.use_compare and pages['compare'].empty? != true -%}
        <div class="product-compare-button"><a href="#compare_popup" onClick="trackCompareClick({{ product.id }}, '{{ product.handle }}', '{{ product.title }}')" data-customer_id="{{customer.id}}" data-pid="{{product.handle}}_sp_{{product.id}}" class="compare button basel-tooltip" rel="nofollow"><span class="basel-tooltip-label">{{ 'sections.basel_tooltip.compare' | t }}</span>{{ 'sections.basel_tooltip.compare' | t }}</a></div>
      {%- endif -%}
			{%- if settings.use_quickview -%}
        <div class="quick-view"><a href="javascript void(0);" onClick="trackQuickView({{ product.id }}, '{{ product.handle }}', '{{ product.title }}')" data-customer_id="{{customer.id}}" data-get="{{ url_nt | within: collection }}{%- if url_nt_bl -%}&{%- else %}/?{%- endif -%}view=quick_view" class="open-quick-view basel-tooltip"><span class="basel-tooltip-label">{{ 'sections.basel_tooltip.quick_view' | t }}</span>{{ 'sections.basel_tooltip.quick_view' | t }}</a></div>
      {%- endif -%}
    </div>
    <script type="text/javascript">
      console.log("👇 Dumping 'subscription metafield' for: ", {{ product.title | json }}, " 👇");
      console.log({{ product.metafields.subscriptions | json }});
    </script>
		{%- if settings.catalog_mode == false -%} 
      {% comment %}
        - [x] Add a class to "quick-shop-wrapper" when subscription exists to add extra px to 'top' (push further down)
      {% endcomment%}
		  <div class="quick-shop-wrapper {%- if subscriptions %} subscriptions{%- endif %}">
			  <div class="quick-shop-close">
          <span>{{'sections.close_quick_shop' | t }}</span>
        </div>
			  {%- if linklists[product.handle].links.size == 0 -%}
          {% comment %}
            # Use Cases
              -[x] One variant WITHOUT auto-ship
                -[x] "Add to Cart" button (add product to cart, show cart)
              - [ ] One variant WITH auto-ship
                - [ ] "Pay full price" button (add product to cart, show cart)
                - [ ] "Auto-ship and save" button (overlay w/ delivery options)
              - [x] Multiple variants WITHOUT auto-ship
                - [x] "Quick shop" button (overlay w/ variant options)
              - [ ] Multiple variants WITH auto-ship
                - [ ] "Quick shop" button (overlay w/ variant options)
                - [ ] "Auto-ship and save" button (overlay w/ variant and delivery options)
          {% endcomment%}
          <div class="quick-shop-btn">
					  {%- if product.variants.size > 1 and check_external == false -%}
              {% comment %} multiple variants {% endcomment %}
              {%- if has_subscription -%}
                {% comment %} with auto-ship{% endcomment %}
                <a 
                  rel="nofollow" 
                  href="javascript void(0);"
                  class="btn-quick-shop" >
                    <span>Auto-ship and save</span>
                </a>
              {%- endif -%}
              <a 
                rel="nofollow" 
                href="javascript void(0);"
                data-get="{{ url_nt }}{%- if url_nt_bl -%}&{%- else %}/?{%- endif -%}view=json" 
                onClick="trackQuickShopClick({{ product.id }}, '{{ product.handle }}', '{{ product.title }}')" 
                class="btn-quick-shop" 
                data-name="{{ product.name }}" 
                data-handle="{{ product.handle }}" 
                data-id="{{ product.id }}">
                  <span>{{ 'products.product.quick_shop' | t }}</span>
              </a>
					  {%- elsif check_external == true -%}
					  	<a href="{{ check }}" rel="nofollow" class="button product_type_simple">
                {{ product.metafields.external | first | first }}
              </a>
					  {%- else -%}
					    {%- if sold_out -%}
					      <a rel="nofollow" href="{{ url_nt | within: collection }}" class="button product_type_simple">
                  {{'products.product.read_more'|t}}
                </a>
					    {%- else -%}
                {% comment %} one variant {% endcomment %}
					      <a 
                  rel="nofollow" 
                  href="{{ url_nt | within: collection }}" 
                  onClick="trackAddToCart({{ product.id }}, '{{ product.handle }}', '{{ product.title }}')" 
                  data-pid="{{ product.variants.first.id}}" 
                  class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                    {{'products.product.add_to_cart'|t}}
                </a>
					    {%- endif -%}
					  {%- endif- %}
			    </div>
			    <div class="quick-shop-form" id="product-{{product.id}}"></div>
			  {% else %}
			    <div class="quick-shop-btn"><a class="button product_type_grouped" href="{{ url_nt | within: collection }}">{{ 'products.product.view' | t }}</a></div>
			  {%- endif -%}
		  </div>
		{%- endif -%}
	</div>
	{%- if settings.show_product_color and colour_count > 1 -%}
	  <div class="swatches-wrapper">{%- include 'swatches_on_grid' -%}</div>
	{%- endif -%}
	<h3 class="product-title"><a href="{{ url_nt | within: collection }}">{{ product.title }}</a></h3>
	{%- if settings.show_product_rating -%}
    <div class="gl_star-rating"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></div>
  {%- endif -%}
  <table class="table table-slim table-borderless price" style="display: table;">
    {%- if on_sale -%}
      <tr>
        <td class="text-right">Price:</td>
        <td class="text-left">
          <del>{{current_variant.compare_at_price | money }}</del>
        </td>
      </tr>
      <tr>
        <td class="text-right">Sale:</td>
        <td class="text-left">
            <ins>{{ current_variant.price | money }}</ins>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="text-left">
          {%- assign section_settings_countdown = settings.loop_show_countdown -%}
          {%- include 'basel_count_down' -%}
        </td>
      </tr>
      <tr>
      <td colspan="2" class="text-center">
        {%- assign saved_money = current_variant.compare_at_price | minus: current_variant.price | money -%}
        {%- assign saved_percentage = current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price | round: 2 -%}
        <span class="price-sale">
          <small>save {{saved_money}} ({{saved_percentage}}%)</small>
        </span>
      </td>
      </tr>
    {% else %}
      <tr>
        <td class="text-right">Price:</td>
        <td class="text-left">
          {{ current_variant.price | money }}
        </td>
      </tr> 
    {%- endif -%}
  </table>
</div>